---
const { title } = Astro.props;
---
<span>{title}</span>
<slot />
<style>
    span {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #ccc;
        border-radius: 3rem;
        backdrop-filter: blur(99px);
        height: 32px;
        width: min-content;
        padding: 1rem;
        text-wrap: nowrap;
        background-color: rgba(0,0,0,0.1);
    }
</style>
