---
interface Props {
    src: string;
    alt: string;
    href?: string;
}
const { src, alt, href } = Astro.props;
---

<a href={href ? href : "/#"}>
    <img src={src} alt={alt} />
	<slot/>
</a>

<style>
    a {
        background-color: rgba(0, 0, 0, 0.288);
        border-radius: 6px;
        color: white;
        text-decoration: none;
        max-width: 100%;
        max-height: auto;
        display: flex;
        gap: 4px;
        justify-content: initial;
        align-items: center;
        margin: 5px;
        padding: 5px;
    }
    img {
        max-width: auto;
        max-height: auto;
        margin: 0 0 0 10px;
    }
</style>
