---
import Bentoindiv from "./Bentoindiv.astro";
---

<div class="home__bento">
	<article class="article bento1">
		<Bentoindiv title="Proyectos"></Bentoindiv>
	</article>
	<article class="article bento2">
		<Bentoindiv title="Experiencia"></Bentoindiv>
	</article>
	<article class="article bento3">
		<Bentoindiv title="About me"></Bentoindiv>
	</article>
	<article class="article bento4">
		<Bentoindiv title="Contactame"></Bentoindiv>
	</article>
</div>

<style>
    .home__bento {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: repeat(6, 1fr);
		gap: 4px;
		height: 100%;
	}
	.article {
		border: 1px solid #ccc;
        border-radius: 1rem;
        padding: 1rem;
        backdrop-filter: blur(99px);
        display: flex;
        flex-direction: column;
	}
	.bento1 {
		grid-column: 1/5;
        grid-row: 1/4;
	}
	.bento2 {
        grid-column: 5/7;
		grid-row: 1/4;
	}
	.bento3 {
		grid-row: 4/7;
        grid-column: 1/4;
	}
	.bento4 {
		grid-row: 4/7;
        grid-column: 4/7;
	}
</style>
