---
import Buttonnav from "./Buttonaside.astro";
---

<nav>
    <ul>
        <Buttonnav src="hogar.png" alt="Home" href="/"/>
        <Buttonnav src="" alt="About" href="/#"/>
        <Buttonnav src="" alt="Proyects" href="/#"/>
        <Buttonnav src="" alt="Experience" href="/#"/>
        <Buttonnav src="" alt="Contact" href="/#"/>
    </ul>
</nav>
<style>
    nav{
        display: flex;
        justify-content: center;
        align-items: initial;
        bottom: 0;
        width: 100%;
        height: 100px;
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(99px);
	}
    ul{
        height: 80%;
        max-width: min-content;
        border: 1px solid white;
        border-radius: 20rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 4px;
        backdrop-filter: blur(12px);
        padding: 5px;
    }
</style>
